<template name="accessList">
    <div class="modal" id="accessList">
        <div class="modal-content">
            <div class="modal-header">
                Лист доступа
            </div>
            <div class="modal-body">
                <form class="form" >
                    <textarea name="list">{{list}}</textarea>
                    <button type="submit">Сохранить</button>
                    <button type="reset">Закрыть</button>
                </form>
            </div>
        </div>
    </div>
</template>