<template name="grid">
    <div class="grid">
        <div class="controls">
            <div class="filter product"><input placeholder="Product..."></div>
        </div>
        <div class="head">
            <div class="cell" data-sort-key="jobID">JobID</div>
            <div class="cell" data-sort-key="productTypeName">Product</div>
            <div class="cell" data-sort-key="runs">Runs</div>
            <div class="cell" data-sort-key="activityID">Activity</div>
            <div class="cell" data-sort-key="status">Status</div>
            <div class="cell" data-sort-key="endDate">Осталось</div>
            <div class="cell" data-sort-key="installerName">Installer</div>
            <div class="cell" data-sort-key="accessList">Access List</div>
        </div>
        {{#each jobs}}
            <div class="row">
                <div class="cell">{{jobID}}</div>
                <div class="cell">{{productTypeName}}</div>
                <div class="cell">{{runs}}</div>
                <div class="cell">{{activityName activityID}}</div>
                <div class="cell">{{statusName status}}</div>
                <div class="cell">{{date endDate}}</div>
                <div class="cell">{{installerName}}</div>
                <div class="cell access-list">{{accessList}}</div>
            </div>
        {{/each}}
    </div>
    {{#if accessListOpen}}
        {{> accessList}}
    {{/if}}
</template>