.grid
  .controls
    padding: 10px
    display: flex
    .job-counter
      flex: 1
      max-width: 300px
      font-size: 20px
      span
        text-align: right
    .filter
      font-size: 18px
      padding: 4px
      margin-right: 20px
      flex: 1
      &.search
        flex: 3
        max-width: 100%
  .head
    display flex
    border-bottom: 1px solid #0075cb
    border-top: 1px solid #0075cb
    .cell
      cursor pointer
      text-align center
      border-right:1px solid #0075cb
      &:last-child
        border-right: 0
  .row
    display flex
    &:nth-child(2n)
      //background-color: #ddd
    &:hover
      background-color: #c2eeff
    .cell
      &:nth-child(3),&:nth-child(6)
        text-align: right
  .cell
    overflow hidden
    display inline-block
    padding: 2px 5px
    flex 1
    &.access-list
      cursor pointer
      &:hover
        background-color: rgba(200,200,200,0.5)
    &:nth-child(1)
      min-width 100px
      max-width 150px
    &:nth-child(2)
      flex 2
      min-width 250px
    &:nth-child(3)
      max-width: 80px
  .more
    padding: 10px
    text-align: center
    font-size: 28px
    width: 100%

  .job-green
    background-color: #bcffb0
  .job-yellow
    background-color: #fbffc2
  .job-blue
    background-color: #ced9ff
