<template name="grid">
    <div class="grid">
        <div class="header">
            <div class="head">
                <div class="cell">Product</div>
                <div class="cell">Status</div>
                <div class="cell">Installer</div>
                <div class="cell">Start</div>
                <div class="cell">End</div>
                <div class="cell">Completition Date</div>
                <div class="cell">Access List</div>
                <div class="cell"></div>
            </div>
        </div>
        <div class="body">
            {{#each jobs}}
                <div class="row">
                    <div class="cell">{{productTypeName}}</div>
                    <div class="cell">{{status}}</div>
                    <div class="cell">{{installerName}}</div>
                    <div class="cell">{{date startDate}}</div>
                    <div class="cell">{{date endDate}}</div>
                    <div class="cell">{{date completedDate}}</div>
                    <div class="cell">{{accessList}}</div>
                    <div class="cell">
                        <div class="access">Доступ</div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    {{#if accessListOpen}}
        {{> accessList}}
    {{/if}}
</template>