<template name="grid">
    <div class="grid">
        <div class="controls">
            <div class="job-counter">
                <div>В работе: <span>{{active}}</span></div>
                <div>Готово: <span>{{ready}}</span></div>
            </div>
            <input class=" filter search" placeholder="Search...">
            <input type="date" value="{{startDate}}" class="filter startDate"/>
            <select class="filter activity">
                <option value="-1">Все</option>
                {{#each activityNames}}
                    <option value="{{this.key}}">{{this.value}}</option>
                {{/each}}
            </select>
            <select class="filter status">
                <option value="-1">Все</option>
                {{#each statusNames}}
                    <option value="{{this.key}}">{{this.value}}</option>
                {{/each}}
            </select>
        </div>
        <div class="head">
            <div class="cell" data-sort-key="jobID">ID</div>
            <div class="cell" data-sort-key="productTypeName">Продукт</div>
            <div class="cell" data-sort-key="runs">Прогоны</div>
            <div class="cell" data-sort-key="activityID">Тип</div>
            <div class="cell" data-sort-key="status">Статус</div>
            <div class="cell" data-sort-key="endDate">Осталось</div>
            <div class="cell" data-sort-key="installerName">Персонаж</div>
            <div class="cell" data-sort-key="accessList">Доступ</div>
        </div>
        <div class="body">
            {{#each jobs}}
                {{> job}}
            {{/each}}
        </div>
    </div>
</template>