.grid
  .head
    display flex
    .cell
      cursor pointer
  .body
  .row
    display flex
    &:nth-child(2n)
      background-color: #ddd

  .cell
    display inline-block
    padding: 2px
    flex 1
    &:nth-child(1)
      min-width 100px
    &:nth-child(2)
      flex 2
      min-width 250px


