.header
  display: flex
  padding: 10px
  color #fff
  background-color: #0075cb
  .job-counter
    flex: 1
    max-width: 300px
    font-size: 20px
  .admin
    flex: 1
    margin auto
    .add
      display: inline-block
      margin 5px ato
      input
        font-size: 18px
    .keys
      margin-top: 5px
      select
        display: inline-block
        height: 24px
        width: 250px
  .login-name
    font-size: 24px
    padding 10px
    margin  10px auto
  .login, .logout
    height: 24px
    margin 20px auto
  .edit
    margin: 10px 0 10px
    textarea
      height: 100px
      width: 375px
      resize: none

