<template name="header">
    <header class="header">
        {{#if currentUser}}
            {{#if iscat}}
                <div class='admin'>
                    <form class="add">
                        <div class="label">Добавить Ключ</div>
                        <input placeholder="KeyID" name="keyID">
                        <input placeholder="VCode" name="vCode">
                        <button type="submit">Add</button>
                    </form>
                    <div class="keys">
                        <div class="label" >Все ключи</div>
                        <select>
                            <option selected hidden>Ключи</option>
                            {{#each keys}}
                                <option value="{{keyID}}">{{ownerName}} ({{type}})</option>
                            {{/each}}
                        </select>
                        <button class="editIndustrialists" hidden="{{editDisabled}}">Производственники</button>
                        <button class="delete">Удалить</button>
                        {{#if edit}}
                            <div class="edit">
                                <textarea class="industrialists" placeholder="Если пусто, с корп ключей подтягиваются все работы...">{{industrialistsList}}</textarea>
                                <div class="buttons">
                                    <button class="yes">Сохранить</button>
                                    <button class="no">Закрыть</button>
                                </div>
                            </div>
                        {{/if}}
                    </div>

                </div>
            {{/if}}
        <div class="login-form">
            <div class="login-name">{{currentUser.profile.name}}</div>
            <button class="logout">Logout</button>
        </div>
        {{else}}
            <button class="login">Login</button>
        {{/if}}
    </header>
</template>
