<template name="main">
    <header>
        {{#if currentUser}}
            <div>{{currentUser.profile.name}}</div>
            <div>Готово {{completed}} из {{total}} заказов</div>
            {{#if isCat}}
                <form class="add">
                    <label>KeyID<input name="keyID"></label>
                    <label>VCode<input name="vCode"></label>
                    <button>Add</button>
                </form>
            {{/if}}
            <button class="logout">Logout</button>
        {{else}}
            <button class="login">Login</button>
        {{/if}}
    </header>
    <div>
        {{> grid}}
    </div>
    <footer></footer>
</template>